<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ru study buddy</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        h1 {color:white;
            text-align: center;
            font-family: 'Open Sans';
        }

        h3 {color:white;
            text-align: center;
            font-family: 'Open Sans';
        }

        .make-post {text-align: center;}

        p {
            color:white;
            text-align: center;
            font-family: 'Open Sans';
        }

        body {background-color: #800000;}
    </style>
</head>
<body>

    <a href='/logout' class="waves-effect waves-light btn red lighten-1">
        LOGOUT
    </a>

    <a href='/coursesofstudy' class="waves-effect waves-light btn blue">
        SELECT A DIFFERENT DEPARTMENT
    </a>

    <a href='/selecteddept/<%= subjectID %>' class="waves-effect waves-light btn blue">
        VIEW OTHER COURSES IN DEPARTMENT <%= subjectID %>
    </a>

	<h1>ru study buddy</h1>

	<h3> <%= courseName %> </h3>

    <div class="make-post">
        <a href='/course/post/<%= subjectID %>/<%= courseID %>/<%= courseName %>' class="waves-effect waves-light btn blue"><i class="material-icons right">mode_edit</i>
            Create a post for <%= courseName %>
        </a>
    </div>

    <h3>posts</h3>

    <% if(posts.length == 0){ %>
        <p>there are currently no listings for this course</p>
    <% } %>

    <div class="row">
                    <ul class="collection">
                    <% for(var i=0; i <posts.length; i++) { %>
        <li class="collection-item">
            <table>
                <tr>
                                    <td> <img src=<%= posts[i].postedByProfilePic %> height="42" width="42"> </td>
                                    <td> <%= posts[i].postedByFullName %> </td>
                                    <% if(posts[i].professor != 'NONE'){ %>
                                        <td>Professor: <%= posts[i].professor %></td>
                                    <% } %>

                                    <% if(userData.profileID === posts[i].postedByProfileId){ %>
                                        <td><a href='/course/delete/<%= subjectID %>/<%= courseID %>/<%= courseName %>/<%= posts[i]._id %>' class="waves-effect waves-light btn red"><i class="material-icons right">delete</i>DELETE</a></td>
                                    <% } %>

                                    <% if(userData.profileID != posts[i].postedByProfileId){ %>
                                        <td><a href='/course/connect/<%= subjectID %>/<%= courseID %>/<%= courseName %>/<%= posts[i].postedByProfileId %>' class="waves-effect waves-light btn blue"><i class="material-icons right">supervisor_account</i>CONNECT</a></td>
                                    <% } %>
                                </tr>
                                <tr>
                                    <%= posts[i].postMessage %>
                                </tr>

            </table>
        </li>
    <% } %>
    </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</body>
</html>